
body{background-color: lightgrey;
height:500px;
width: 500px;
}


#txt{color:grey;
background-color: black;
height:90px;
width:400px;
text-align: center;
position: absolute;
font-size: 60pt;
margin-left: 400px;
margin-top: 220px;
border: 5px solid blue;}